$venturus-dark-gray: #6F747B;
$venturus-dark-purple: #662E86;
$venturus-headers: #643E94;
$venturus-purple: #921D6A;
$venturus-md-pink-purple: #BA3D7B;
$venturus-pink: #BF0E4F;
$venturus-gray: #E9E3E9;
$venturus-light-gray: #F7F3F7;
$venturus-light-purple:#F7EEF7;
$venturus-white: #FFFFFF;
$venturus-purple-light-border: #A46EB9;
$venturus-green-approved: rgb(3, 250, 168);