
.create-your-team-container {
  background-color: #FFFFFF;
  height: 220vh;
  margin-top: 6vh;
  margin-bottom: 6vh;
  color: #686c72;
}
.sub-header {
  color: rgb(179, 176, 176);
  font-weight: bold;
  font-size: 1.1rem;
  text-align: center;
  margin-top: 6vh;
  margin-bottom: 6vh;
  width: 100%;
}
.player-searched {
  width: 100%;
  background: linear-gradient(to bottom, $venturus-white, $venturus-gray 120%);
  border: 4px double $venturus-gray;
  padding: 2vh;
  padding-right: 6vh;
  margin-top: 20px;
  &:hover {
    border: 4px solid $venturus-green-approved;
  }
  strong {
    color: black;
  }
}
.player-searched-name-age {
  display: flex;
  justify-content: space-between;
}
.player-data {
  color: $venturus-pink;
  font-weight: bold;
}
.input-search-player {
  margin-bottom: 30px;
}